.bg {
  background: rgb(245, 241, 241);
  height: 80vh;
}
.tab-list {
  border-bottom: 1px solid rgb(188, 185, 190);
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  margin-right: 0.5rem;
  background-color: lightgrey;
  color: #074a95;
  font-weight: 700;
  padding: 1rem 1.5rem;
}

.tab-list-active {
  background-color: white;
  border: solid rgb(246, 245, 247);
  border-width: 1px 1px 0 1px;
}
